[Unit]
Description=A portable way to run checkra1n

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/cumbox/cumbox.py
 
[Install]
WantedBy=multi-user.targets